<!-- Only used for updating coin list in database -->

<!-- {% extends 'base.html' %}
{% block content %}
{
    {% for obj in api_coin_data1 %}
    {
        "abbr":"{{obj.id}}",
        "name":"{{obj.name}}"
    },
    {% endfor %}
    {% for obj in api_coin_data2 %}
    {
        "abbr":"{{obj.id}}",
        "name":"{{obj.name}}"
    },
    {% endfor %}
    {% for obj in api_coin_data3 %}
    {
        "abbr":"{{obj.id}}",
        "name":"{{obj.name}}"
    },
    {% endfor %}
}
{% endblock %} -->