{% extends 'base.html' %}
{% block content %}

<h2 class="text-center">About Me</h2>

<div class="row mt-5 mx-auto">
    <div class="col-lg-3">
      <div class="card text-white bg-dark h-100">
        <img class="card-img-top bg-light" src="../static/images/jeremy.png" alt="Jeremy Picture">
        <div class="card-body text-center">
            <!-- Github -->
            <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/SUBstylee" role="button" target='_blank'><i class="fab fa-github"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/jeremy-threlfall/" role="button" target='_blank'><i class="fab fa-linkedin-in"></i></a>
            <!-- Line -->
            <a class="btn btn-primary" style="background-color: #06C755;" href="https://line.me/R/ti/p/substylee" role="button" target='_blank'><i class="fab fa-line"></i></a>
            <!-- Twitter -->
            <a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/jjthrelfall" role="button" target='_blank'><i class="fab fa-twitter"></i></a>
            <!-- Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/substylee" role="button" target='_blank'><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/jjthrelfall/" role="button" target='_blank'><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mt-md-3 mt-lg-0">
      <div class="about-card card text-center text-white bg-dark h-100">
        <div class="card-body">
            <h3 class="card-title">Jeremy Threlfall</h3>
            <h4 class="card-text">Hi, I am a fullstack developer.</h4>
            <p></p>
        </div>
        <div class="card-body">
            <h3 class="mb-4">Skills</h3>
            <div class="row">
                <div class="col-lg-3">
                    <ul>
                        <li><h5>Languages</h5></li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Postgresql</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li><h5>Design</h5></li>
                        <li>UI/UX</li>
                        <li>Figma</li>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>BootStrap</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li><h5>Dev Tools</h5></li>
                        <li>Git</li>
                        <li>VS Code</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li><h5>Soft</h5></li>
                        <li>Communication</li>
                        <li>Time Management</li>
                        <li>Problem-Solving/Creativity</li>
                        <li>Adaptable and Flexible</li>
                        <li>Accept and Build on Feedback</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body-text-center">
            <p>Contact me: <a href="mailto:jjthrelfall@gmail.com?Subject=Contact%20from%20link">jjthrelfall@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}