{% extends 'base.html' %}
{% block content %}

<h2 class="text-center">Resources</h2>

<div class="row mt-5 mx-auto">
    <div class="col-12">
      <div class="about-card card text-center text-white bg-dark h-100">
        <div class="card-body">
            <h3 class="mb-4">Cryptocurrency Guides, Exchanges and Wallets</h3>
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li><h5>Guides</h5></li>
                        <li> <a href="https://www.nerdwallet.com/article/investing/cryptocurrency-7-things-to-know" target="_blank">What Is Cryptocurrency? (nerdwallet)</a></li>
                        <li> <a href="https://www.coinbase.com/learn/crypto-basics" target="_blank">Crypto basics (coinbase)</a></li>
                        <li><a href="https://www.kraken.com/learn/crypto-guides" target="_blank">Bitcoin and cryptocurrency for beginners (kraken)</a></li>
                        <li><a href="https://time.com/nextadvisor/investing/cryptocurrency/crypto-terms-you-should-know-before-investing/" target="_blank">Cryptocurrency Terms (NextAdvisor)</a></li>
                        <li><a href="" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><h5>Exchanges</h5></li>
                        <li><a href="https://www.coinbase.com/" target="_blank">coinbase</a></li>
                        <li><a href="https://sevenb.io/" target="_blank">7b</a></li>
                        <li><a href="https://www.kraken.com/" target="_blank">kraken</a></li>
                        <li><a href="https://nexo.io/" target="_blank">nexo</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><h5>Wallets</h5></li>
                        <li><a href="https://www.exodus.com/" target="_blank">exodus</a></li>
                        <li><a href="https://electrum.org/" target="_blank">electrum</a></li>
                        <li><a href="https://www.opolo.io/" target="_blank">opolo</a></li>
                        <li><a href="https://wasabiwallet.io/" target="_blank">wasabi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body-text-center">
            <p>This site uses <a href="https://p.nomics.com/cryptocurrency-bitcoin-api" target="_blank">Nomics API</a><br>View the <a href="https://nomics.com/docs/" target="_blank">DOCs</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}